# Папки виртуальных окружений
/venv/
/env/
.env

# Кэш Python
__pycache__/
*.pyc

# Настройки IDE
.idea/
.vscode/

# Файлы логов и отчетов
*.log

# Системные файлы
.DS_Store
```    *Символ `/` в конце означает, что мы игнорируем именно папку.*